:root {
  --azul-marino: #001f3f;
}

body {
  background-color: var(--azul-marino);
  padding: 2%;
}

/* Header */
#top {
  padding: 6px;
  margin-top: 0px;
}

/* Título blanco y centrado */
.titulo {
  color: white;
  text-align: center;
  font-weight: bold;
}

/* Estilo de imágenes */
.icono {
  border-radius: 15px;           /* bordes redondeados */
  box-shadow: 0 4px 12px rgba(0,0,0,0.4);  /* sombra */
  transition: transform 0.3s ease;
}

/* Efecto (hover) */
.icono:hover {
  transform: scale(1.05);
}

/* Navbar azul marino */
.navbar-custom {
  color: white;
  margin-top: auto;
  margin-bottom: 12px;
  background-color: #001f3f;
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}

/* Título */
.titulo-nav {
  color: white;
  font-weight: bold;
}

/* Links */
.link-nav {
  color: white;
  transition: 0.3s;
}

/* Hover */
.link-nav:hover {
  color: #a8d0ff;
}

/* Botón hamburguesa con sombra. No conseguí poner las líneas de la hamburguesa en blanco */
.sombra {
  color: white;
  box-shadow: 0 2px 6px rgb(19, 18, 18);
}

/* Dropdown */
.dropdown-custom {
  background-color: #0a2540;
  border: none;
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}

/* Items dropdown */
.dropdown-item {
  color: white;
}

.dropdown-item:hover {
  background-color: #1b3b5a;
  color: white;
}

/* Navbar azul marino */
.navbar-custom {
  background-color: #001f3f;
  box-shadow: 0 4px 12px rgba(0,0,0,0.4);
}

/* Texto blanco */
.navbar-custom .nav-link,
.navbar-custom .navbar-brand {
  color: rgba(255, 255, 255, 0.986);
}

/* Botones con sombra */
.navbar-custom .nav-link {
  margin: 0 5px;
  padding: 6px 12px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  transition: 0.3s;
}

/* Hover bonito */
.navbar-custom .nav-link:hover {
  background-color: rgba(255,255,255,0.1);
  transform: translateY(-2px);
}

/* Botón contacto*/
.contacto-btn {
  background-color: rgba(255,255,255,0.15);
  font-weight: bold;
}

/* Hero Carrusel Tamaño uniforme */
.card-region {
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
  
}

.card-region img {
  width: 100%;
  height: 150px;
  object-fit: cover; /* clave para uniformidad */
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}

.card-region p {
  margin-top: 8px;
  font-weight: bold;
  font-size: 14px;
}

/* Mejora visual del carrusel */
.carousel-indicators {
  bottom: -10px;
}

/* Tarjetas de región */
.region-card {
  display: block;
  text-align: center;
  margin-bottom: 15px;
  text-decoration: none;
  color: white;
}

/* Imágenes uniformes */
.region-card img {
  width: 100%;
  height: 100px;
  object-fit: cover;   
  border-radius: 5px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.89);
}

/* Nombre región */
.region-card span {
  display: block;
  padding: 5px;
  margin-top: 5px;
  font-size: 13px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.89);
  
}

/* Columna 3 (mapa de Chile) */
.mapa-container {
  display: flex;
  justify-content: center;  /* centro horizontal */
  align-items: center;      /* centro vertical */
}

h2 {
  color: white;
  text-align: center;

}

/*No consigo que se centre en su columna. Forcé con Margin Top*/
.mapa-chile {
  width: 100%;
  max-height: 999px;
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 70px;
  border-radius: 10px;
}

aside {
  color: white;
  font-size: 15px;
  margin-top: 30px;
  margin-left: 20px;
  padding: 20px;       /* espacio interno */
  text-align: left;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.89);
 }

 /* Footer */
.footer {
  background-color: #001f3f;
  color: white;
  padding: 20px 0;
  box-shadow: 0 -4px 10px rgba(0,0,0,0.4);
}

/* Botón subir */
.btn-subir {
  background-color: #001f3f;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.4);
  transition: 0.3s;
}

.btn-subir:hover {
  transform: translateY(-2px);
  }

/* Redes sociales */
.redes a {
  color: white;
  font-size: 22px;
  margin: 0 10px;
  transition: 0.3s;
}

.redes a:hover {
  color: #0d6efd;
}

/* Nombre */
.nombre {
  font-size: 14px;
  margin-top: 10px;
}


body {
  background-color: #001f3f;
  color: white;
}

/* FILA alineada */
section .row {
  align-items: stretch;  /* mismo alto */
}

/* ASIDE */
.col-md-4 {
  margin-top: 15px;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
  display: flex;
  flex-direction: column;
}

/* Imagen región */
.region-img {
  width: 100%;
  max-height: 600px;   
  object-fit: contain; /* muestra toda la imagen */
  display: block;
  margin: 15px;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
  }

/* Cards */
.card {
  color: white;
  background: rgba(255,255,255,0.1);
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  text-align: center;
}

/* Clima */
.clima-card {
  min-height: 120px;
  transition: transform 0.3s;
}

.clima-card:hover {
  transform: scale(1.05);
}

/* Galería */
.galeria {
  margin-bottom: 10px;
  border-radius: 10px;
}

/* Animaciones clima */
.lluvia {
  animation: lluvia 1s infinite linear;
}

@keyframes lluvia {
  0% {opacity: 0.5;}
  50% {opacity: 1;}
  100% {opacity: 0.5;}
}

.lulu-card {
  display: block;
  text-align: center;
  margin-bottom: 15px;
  text-decoration: none;
  color: white;
}

/* Imágenes uniformes */
.lulu-card img {
  width: 100%;
  height: 200px;
  object-fit:contain;   
  border-radius: 5px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.89);
}